[2017-09-13 21:07] arve0 opened #1 "Demo page does not work in Safari"
Safari 10.1.2 gives the error

[code]

and a blank page. Works in Chrome.

[2017-09-14 08:37] Godofbrowser commented on #1
@arve0 Thanks. Cross browser support is being added (here ca25a1a5475caa140934e4cac904d45ff4521397). Should work without errors now.

[2017-09-14 08:39] #1 closed

[2017-09-18 13:33] JosephMendez opened #2 "Cannot call other method"

[2017-09-18 13:42] Godofbrowser commented on #2
Hello @JosephMendez . Could you please provide more information about this issue? I don't understand what you meant by "call other method"

[2017-09-28 15:48] ojczeo opened #3 "Custom styles"
@Godofbrowser is there any possibility to disable default styles? Package is awesome 🥇  (especially directive way of defining dialogs!!! 🔥 ), but it's little bit hard to customize styles (default styles conflicts with custom ones). What's easiest way to achieve customization?

[2017-09-28 20:35] Godofbrowser commented on #3
Thanks @ojczeo.

The styles can be customized without conflicts just that you may need to nest some css selectors.
During the cause of developing this plugin i wanted a something that anyone can take full ownership of. I thought of creating themes for the plugin but this has it's limitation. Then i was wondering, what exactly will developers want to customize? The colors, the layout itself or both

[2017-09-28 21:45] Godofbrowser commented on #2
I'm closing this due to inactivity. But if what you meant by  "other methods" is the `$dialog.prompt()` method, then i'll suggest you check back in a few days as it's work in progress. Thanks.

[2017-09-28 21:45] #2 closed

[2017-09-29 07:10] rjurado01 opened #4 "Nested dialog is closed automatically"
I have this code:

[code]

When the dialog is resolved sucessfully and the alert is opened it is also closed automatically.

Example running: https://jsfiddle.net/rjurado/5u9u0bdc/

[2017-09-29 10:24] ojczeo commented on #3
@Godofbrowser for example: good solutions is provided here: https://github.com/ElemeFE/vue-msgbox or here https://github.com/Deveodk/vue-toastr - styles are builded to `css` file, you can import them if you want, but also you can define your own

[2017-09-29 11:06] Godofbrowser commented on #4
@rjurado01 Thanks for reporting this issue. Please see fix + improvement: 21c5300481dfae9f682a0addcf1078033a22e8ec

[2017-09-29 11:22] Godofbrowser commented on #3
@ojczeo Exporting the css into a separate file is a nice idea and is also very easy to implement but i'll need to think through how this affects the initial setup process. Especially when installation is done through npm.
Thanks for the tip.

[2017-09-29 11:27] #4 closed

[2017-09-29 11:37] rjurado01 commented on #4
Thanks it works!!

[2017-09-29 17:27] Godofbrowser commented on #4
You're welcome. Thanks for staring ☺️

[2017-10-08 13:04] ScriptMint opened #5 "Not able to pass data to function"
Hello, After lots of search, I finally ended up with your package & I must say you have done great job. I found some thing which you may add.

Here is my code to delete an entity.

`<button v-confirm="{ok: delete(item)}">Delete</button>`

When I am passing data to delete function, it doesn't work. However if I don't pass data, it works. Is there any chances you will make it work?

[2017-10-08 14:16] Godofbrowser commented on #5
Hello @ScriptMint Thanks for commending the plugin. Regarding this issue, it was very obvious from the moment the directive method was added as seen below:
[code]
[code]

However, calling `delete(item)` like in your case will probably need to process the delete method with the hope of returning a function that will then be used as a callback for the directive's `ok` property.

Something similar to

[2017-10-08 14:27] Godofbrowser commented on #5
An alternative (still considering implementation) might be to make the element available withing the dialog object returned to the callback. This make it possible to retrieve just any item from the element's attributes.

A simple example:
[code]
[code]

What do you think?

[2017-10-08 14:45] ScriptMint commented on #5
Hello, Thanks for very quick response. However, in 2nd case, the dialog is only returning true or false. It doesn't contain element info. Any hint?

[2017-10-08 15:11] Godofbrowser commented on #5
Yes, the 2nd is not yet implemented that's why I added (still considering implementation)

[2017-10-08 15:33] ScriptMint commented on #5
Ok. Waiting for this update!

[2017-10-08 15:42] Godofbrowser commented on #5
Alright. I hope the first works for you in the meantime.

[2017-10-08 16:04] ScriptMint commented on #5
Yes, its working only when I comment out dialog.close() (Says dialog.close() is not a function). Writing two function for small thing is little pain. I hope you will come back with some quick solution!
Thanks again!

[2017-10-19 07:19] SergeyMiracle opened #6 "No idea why"
Getting error when dialog window opens https://cl.ly/0w3M342g0K2E
Also when click cancel there is message in console (false), how can it be disabled?

[2017-10-19 21:47] Godofbrowser commented on #6
Hello @SergeyMiracle. This error isn't might not be related to the plugin. Can you give more information that could help in recreating this error? like the way it was used, what browser it was used on, and what happened before the error occurred.

[2017-10-20 02:02] SergeyMiracle commented on #6
Nothing special
`
import VuejsDialog from 'vuejs-dialog'

Vue.use(VuejsDialog, {
  html: true,
  loader: true,
  okText: 'Да, удалить!',
  cancelText: 'Нет, оставить',
  animation: 'bounce'
})

methods: {
  deleteItem: function (data) {
        this.$dialog.confirm('<div class="text-center"><h4 class="bold">Вы уверены?</h4> <small>После удаления восстановление не возможно!</small></div>').then(dia

[2017-10-22 22:14] Godofbrowser commented on #6
@SergeyMiracle I'm sorry but in the meantime, i can't seem to be able to replicate this error. Used the same parameters and it works quite well. https://jsfiddle.net/godofbrowser/rmc4dkte/

[2017-10-23 06:29] SergeyMiracle commented on #6
@Godofbrowser I tried to remove other plugins, but no luck.

[2017-10-23 06:59] SergeyMiracle commented on #6
@Godofbrowser i found out what is wrong.
It's coz you have a function with name `commit`, and it conflicts with vuex

[2017-10-23 07:11] SergeyMiracle commented on #6
I guess it has to do something with vuex...

[2017-10-23 07:19] SergeyMiracle commented on #6
Can not replicate this error in fiddle too. It seems has issue with other plugins, but can not found witch one.

[2017-10-23 07:23] SergeyMiracle commented on #6
I found it... No idea why, but it has something with VueKindergarten plugin
Was (errors)
[code]
Now (working)
[code]

[2017-10-23 07:23] #6 closed

[2017-10-31 00:47] ImpossivelPT commented on #3
A nice option to start would be a prop for a custom CSS class for the main wrapper, with that we could create some custom CSS overrides based on the wrapper class.

btw great job and thanks @Godofbrowser

[2017-11-06 12:11] dtgeorge opened #7 "this.$dialog is undefined"
Hello!

I am newbee to vue.js. Gonna try to use plugin.
I proceeded all steps for HTML installation:
`<script type="text/javascript" src="./path/to/vue.min.js"></script>`
`<script type="text/javascript" src="./path/to/vuejs-dialog.min.js"></script>`
`window.Vue.use(VuejsDialog)`

and nothing happend... Inside my app
`var app = new Vue(....`
`...`
`this.$dialog == undefined`
also
`window.app.$dialo

[2017-11-06 12:30] Godofbrowser commented on #7
@dtgeorge sorry about that, i will update the docs. Please use `window.Vue.use(VuejsDialog.default)`

[2017-11-06 13:04] dtgeorge commented on #7
Ok! Thanks!

Also, what you think about unminified/unuglified version of plugin?
It's normal for opensource projects....

[2017-11-06 13:10] dtgeorge opened #8 "Scrolling still enabled while modal popup showed"
Subj! I think it shouldn't be that way... What you think?

[2017-11-06 17:36] Godofbrowser commented on #8
@dtgeorge you're right, it shouldn't be. I haven't had enough time to fix a couple of things lately. This is part of them. Thanks for pointing that out.

[2017-11-06 18:24] Godofbrowser commented on #3
@ImpossivelPT Thanks. I think that would be a better option as it would be backward compatible. I have been as regards exporting the css file separately, it'll be a breaking change which i was planning to implement in a major release. This should be a quick fix for now.

[2017-11-09 07:18] awesomezz opened #9 "hi, Excuse me"
How to set only one button ？ thank you

[2017-11-09 07:50] Godofbrowser commented on #9
Hello @awesomezz to display only one button you'll need to use the `vm.$dialog.alert()` method instead of `vm.$dialog.confirm()`. it's also possible to place the button on the left hand side of the dialog by setting the reverse option `vm.$dialog.alert('This is an alert', {reverse: true})`

[2017-11-09 12:57] awesomezz commented on #9
thank you very much。

发自我的 iPhone

[2017-11-09 12:59] awesomezz commented on #9
Thank you very much

发自我的 iPhone

[2017-11-09 13:02] Godofbrowser commented on #9
You're welcome.

[2017-11-09 13:02] #9 closed

[2017-11-12 05:12] wmlab03 opened #10 "Failed to resolve directory: confirm"
Hello,

Can't we use v-confirm directive when referencing your vuejs-dialog.min.js as external resource? Here is jsfiddle:

https://jsfiddle.net/osLfqyn7/

It throws "Failed to resolve directory: confirm" error in the console.

Can you please help?

[2017-11-12 08:30] Godofbrowser commented on #10
Yes you can. `window.Vue.use(VuejsDialog.default)`. Here is an update to the fiddle https://jsfiddle.net/osLfqyn7/1/

[2017-11-12 08:50] wmlab03 commented on #10
Hey, Thanks a lot for quick resolution. Now here the main issue starts.

Try adding 3 rows by clicking on add row button and then delete the 2nd row. It gets deleted without any issue.

Now if you add one more row & delete the 3rd item (which is now 2nd), then it doesn't get deleted. What can be the reason it is not able to delete the item on 2nd click even if it is confirmed in the dialog?

I hav

[2017-11-12 09:34] Godofbrowser commented on #10
This is not a problem with the plugin, but something to note with vue. When re-rendering templates, vue tries to update only the part that has changed. In this case, it's not fully re-rendering the `button` component. You'll need to tell vue that each buttons are distinct in every way (includes the button and it's content) by giving them unique keys.

`<button :key="row.id" v-confirm="{ok: confirm

[2017-11-12 09:53] wmlab03 commented on #10
Got your point. Thanks a lot. You saved a lot of my time.

And of-course, your plugin deserves one more star!

[2017-11-12 09:54] #10 closed

[2017-11-12 09:59] Godofbrowser commented on #10
You're welcome. And thanks for starring 👍

[2017-11-12 10:35] Godofbrowser commented on #7
Closing due to inactivity.

[2017-11-12 10:35] #7 closed

[2017-11-14 09:40] MrCharli3 opened #11 "Bower or unpkg installation?"
Hi,

Are either of these installations possible? would like to keep consistency in my project.

[2017-11-20 17:21] ellavas opened #12 "This undefined"
Hi,

I want to use vue socketio in the confirm method of the dialog. But this is undefined in this anonymous function.
Is there any solution to bypass that ?

[code]

Thanks a lot

[2017-11-22 21:20] Godofbrowser commented on #12
I'm sorry for the late reply. I've been extremely busy lately. Are you adding the plugin via the script tag? if yes, then please see possible solution here 220fbdafc556c119ca782fbf69293520d41284b5.
I updated the readme to `window.Vue.use(VuejsDialog.default)`

[2017-11-22 21:23] Godofbrowser commented on #12
Maybe i misunderstood the issue at first. If the `this` in `this.$socket.emit('delete');`  is the problem, then i will suggest you make use of the function shorthand "arrow functions" so as to expose this to the parent scope and not the `function(){}` scope. Example;

[code]

[2017-11-23 07:30] Godofbrowser commented on #11
hello @MrCharli3 The lib is available on unpkg at https://unpkg.com/vuejs-dialog . It will also be registered on bower asap. Thanks

[2017-11-23 09:34] ellavas commented on #12
Thanks, I have solved my problem by changing the scope of the function. I forgot to close the issue.

[2017-11-23 09:34] #12 closed

[2017-11-26 15:37] hkuclion opened #13 "[feature request]can contents be a component?"
Currently only text and html can be message, can there be a chance that if type of message is object then message will be used as an component so that contents can also be reactive, or use a option to set the message to be treated as a component name?

[2017-12-14 14:55] Godofbrowser commented on #13
I've been thinking around this.... and yes! i think it's possible. This should be the next feature to be implemented. Thanks for the idea...

[2017-12-14 15:04] #11 closed

[2017-12-14 17:56] danhe opened #14 "Can I customize the buttons, or add some other buttons, a third one, fourth..."
because of some raison, I want to have a confirm with three buttons, is this possible?

[2017-12-19 19:08] Godofbrowser commented on #14
For now, it's not possible. But there will be similar solution soon

[2017-12-22 09:53] nurbek-ab opened #15 "Add option to set a dialog title"
It would be great if you added an option to set a title for the dialogs.

[2017-12-26 10:17] madzhuga opened #16 "alwasy catches cancel"
Hi! Thanks for a great component. I have a question
[code]
No matter which button I click it always adds 'Clicked cancel' to a log.

[2017-12-26 10:21] Godofbrowser commented on #16
It could be that there's an error in the `then` handler. Try logging the error to see what's actually causing it. You can also paste it here.

[code]

[2017-12-26 10:24] Godofbrowser commented on #15
Thanks for your suggestions/feature request. I will look into this.

[2017-12-26 10:34] Godofbrowser commented on #16
You're welcome. Glad it's working now.

Although i don't think that could have been the reason.

Importing with a custom name is actually allowed. The module was exported as a default so any name goes.
it could have been some syntax error, or the name used conflicts with something else.

But all the same, glad it's working now.

[2017-12-26 10:35] madzhuga commented on #16
yeah, I already found a reason - just checked error in catch - it was catching 'Ok' properly but then failed to run my code - and then .catch catched my own error.

[2018-01-09 23:42] Godofbrowser commented on #8
Scrolling disabled.

[2018-01-09 23:42] #8 closed

[2018-01-17 11:33] IMPMAC opened #17 "Enter/Return key on verification text reload the page"
If you go to the demo, scroll to the "Hard confirm - verification text required" button and click.

Then click in the verification box, press enter or return on the keyboard,  it submits the form and refreshes the page.

I expect it to ignore the form submit

[2018-01-17 12:21] Godofbrowser commented on #17
Obviously, that is a bug. Thanks! fixing immediately...

[2018-01-17 13:41] IMPMAC commented on #17
@Godofbrowser Thanks, I guess Ill be notified by Github when its pushed.

Keep up the good work!

[2018-01-17 14:31] Godofbrowser commented on #17
@IMPMAC [1 new github notification](https://github.com/Godofbrowser/vuejs-dialog/commit/fd48c1517e0d64e2b7f6711e439d5215b40f50e6) 😀

[2018-01-19 10:13] gouaille opened #18 "Dialog never enter the confirm method"
Hi,

We're having issues with your plugin. We're using it with the <script> include and, following the documentation, we declare

`window.Vue.use(VuejsDialog.default);`

Here is our code

[code]

The code never enters the then function and it throws a message in the console :

We tried without the loader, same error.

Thanks :)

[2018-01-19 10:25] Godofbrowser commented on #18
Hello @gouaille , The easiest way to detect what went wrong is by actually adding a catch handler which prints the error to the console.

[code]

[2018-01-19 10:30] gouaille commented on #18
Hi @Godofbrowser and thanks for your quick answer.

Actually, it's not much of a help since the message is

[2018-01-19 10:41] gouaille commented on #18
Yes it renders properly. The cancel button is fully working. The "confirmation" button throw an exception and goes into the catch method.

[2018-01-19 11:00] Godofbrowser commented on #18
From the error logged to the console

there ought to be a variable "e" somewhere inside the "then" handler

[2018-01-19 11:14] gouaille commented on #18
Seems to work with this jsfiddle... https://jsfiddle.net/osLfqyn7/9/

Going to search the main problem and coming back to you.

[2018-01-19 13:56] gouaille commented on #18
OK so the previous error was comming from the err.toString() method because there is no error sent to the catch method...

console.log(err) returns undefined.

[2018-01-22 11:39] Godofbrowser commented on #17
Closing as the issue has been fixed.

[2018-01-22 11:39] #17 closed

[2018-01-22 12:18] IMPMAC commented on #17
@Godofbrowser Yep, I can confirm in my testing that this issue has been fixed.

[2018-01-25 01:16] dnovaes commented on #18
Hello guys, same happened to me. Could enter in the  "confirm/then" brackets after clicked in the positive answer. However this is happening only if write the dialog.confirm method using ES6. ex:

`
this.$dialog.confirm("To generate this pdf is necessary to register in the system. Would you like to do it?", {}).then((dialog)=>{
window.location = "/login";
}).catch((dialog)=>{
//donothing
});
`

if

[2018-01-26 23:16] dukesnuz opened #19 "Changing Color of Dialog Box"
Is it possible to change the colors in the dialog box?

[2018-01-26 23:19] dukesnuz commented on #19
just saw this issue addressed below... Very cool plugin !

[2018-01-26 23:19] #19 closed

[2018-01-27 07:11] Godofbrowser commented on #19
Thanks @dukesnuz. I hope you able to override the styles for the css classes.

[2018-02-22 12:04] Godofbrowser commented on #3
Please use basic css, ex:
[code]

[2018-02-22 12:04] #3 closed

[2018-02-22 12:12] Godofbrowser commented on #18
@gouaille @dnovaes I'm sorry this took a while. Please let me know if you were able to find a solution. I'll be glad to help if not.

[2018-02-22 16:11] IMPMAC commented on #17
Hi, somewhat related to this, could you add a parameter to disable Chromes autocomplete feature. I believe its autocomplete="false" to add to the input field.

This is because once you type in "reset" the first time, the second time, it will automatically give you a drop down with the word "reset' inside.

Thanks.

[2018-02-22 16:19] Godofbrowser commented on #17
Its very necessary. Would fix that asap.  Thanks.

On Feb 22, 2018 5:11 PM, "Ismail Patel" <notifications@github.com> wrote:

Hi, somewhat related to this, could you add a parameter to disable Chromes
autocomplete feature. I believe its autocomplete="false" to add to the
input field.

This is because once you type in "reset" the first time, the second time,
it will automatically give you a drop do

[2018-02-22 16:49] dnovaes commented on #18
No problem @Godofbrowser. I managed to use it withou using arrow functions. Now i'm using as stated below. Its working for me so i guess my problem is solved. :)

[code]

[2018-02-22 20:07] Godofbrowser commented on #18
@dnovaes I'm glad it's working but obviously, there's still a problem if you're able to use arrow functions somewhere in your code but not with the plugin.

Are you using a build tool like webpack to build the script?

[2018-02-26 13:25] slano opened #20 "remove external reference to google font css"
Hello Godofbrowser,

first of all thanks for a great vue package, I find it very useful.

One future request to get rid of a minor annoyance. Is there any chance to remove google fonts api import in the javascript?

`"@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);"`

If I use vuejs-dialog bundled in my project's single app.js, and try to export a page of such project into

[2018-02-26 13:32] Godofbrowser commented on #20
Thanks for the commendation @slano , i'm looking at the best possible solution to this issue. Meanwhile, suggestions are welcomed.

[2018-03-05 20:06] marekfilip commented on #20
@Godofbrowser thanks for sharing your package. It it very helpful indeed 👍

I would be very pleased for this feature as well, it would remove problem with "Leverage browser caching" in Google PageSpeed Insights. It is known that Google Fonts cache is set to 24 hours.

[2018-03-05 23:23] Godofbrowser commented on #15
Closing this cos the feature has been implemented. [b511287ca4ec0549927964460b69b55e60330e74](https://github.com/Godofbrowser/vuejs-dialog/commit/b511287ca4ec0549927964460b69b55e60330e74)

[2018-03-05 23:23] #15 closed

[2018-03-05 23:25] Godofbrowser commented on #20
External fonts removed @slano @marekfilip . Plugin will inherit the document's font.

[2018-03-06 19:07] marekfilip commented on #20
@Godofbrowser thanks for really fast feature! That fixed my problem.

[2018-03-06 19:27] Godofbrowser commented on #20
You're welcome.

On Mar 6, 2018 8:07 PM, "Filip Marek" <notifications@github.com> wrote:

[2018-03-09 12:03] hjortzen opened #21 "Clicking outside dialog should cancel"
Hi!
First off: Brilliant dialog! I especially like the directive idea!

A feature request (I'll probably make a workaround for now) however:
Being able to configure if the dialog should close (cancel) when clicking outside the dialog (i.e. when clicking the mask)

Great work!

[2018-03-09 12:43] Godofbrowser commented on #21
Thanks @hjortzen

I also think it'll be nice to have this feature.

[2018-03-09 19:16] hjortzen opened #22 "Cloning / building on your own"
Hi!

I recently forked the project and was looking into building and developing within the project.
Possibly contributing a couple of features, if all goes well.

But:

- Master doesn't compile
- Backing to earlier commit and running 'npm run build' complains on a post-build step (something regarding copying docs.js)

Being a newbie in JS-projects and especially using webpack I'm wondering how I c

[2018-03-10 10:10] Godofbrowser commented on #22
Hello @hjortzen , thanks for offering to help.

- Master should compile without issues, what errors are you getting?

- Yeah, there's a post-build script added to always copy the bundle into the docs folder once bundling is complete. When this happens, i then load the index.html in the docs folder and within that window i'll have access to `vm.$dialog` on the browser console and can call any of it

[2018-03-10 11:24] Godofbrowser commented on #22
@hjortzen You're right. Some files were not included in the last commit. [mixins](https://github.com/Godofbrowser/vuejs-dialog/commit/b3d85db4e2b1f1eb700c53b0c8c4970ea6493c92). It should now build without errors.

[2018-03-10 11:24] hjortzen commented on #22
Well, first of all I'm getting the same error regarding the mix-ins that seem to be missing (forgot to commit?) that your[ CI is complaining](https://travis-ci.org/Godofbrowser/vuejs-dialog/builds/349561373?utm_source=github_status&utm_medium=notification) about on your master.

I don't have access to my development enviroment at the moment (back on monday) but regarding the copy-docs.js error I w

[2018-03-10 11:36] Godofbrowser commented on #22
Seems this `it seemed to be complaining about paths or something` OS related. I'll look into it and get back to you. Thanks.

[2018-03-10 11:40] hjortzen commented on #22
Perfect! Looking forward into getting my hands dirty on monday and hopefully being able to contribute with something (we have a couple of features we'd like to use and hopefully you'll agree with us that they are of general interest).

If it helps, this is my env:
MacOS, High Sierra
Node installed via Homebrew (brew install node)

[2018-03-10 12:41] Godofbrowser commented on #22
@hjortzen Yeah, it was helpful and [hopefully this should fix it](https://github.com/Godofbrowser/vuejs-dialog/commit/8cf9f7132e49a39ee9226ee5571b66f261ff4139). I'm interested in discussing these features  coming in too.

[2018-03-10 13:27] hjortzen commented on #22
I can confirm that everything is running now!
(Accessed my dev environment and merged the changes)
Thank you for committing changes so rapidly!

To get things straight: You open the docs/index.html in a browser and test that way?
You're not running the web pack dev server for immediate changes and reloads?
(If not then I'll start playing a little with that and we'll see if I can contribute that fi

[2018-03-10 17:34] Godofbrowser commented on #22
Yeah, that's correct. I open `docs/index.html` which already has the plugin installed to a vue model registered on the window (window.vm). This allows me call the plugin methods `vm.$dialog.confirm()` from the browser console. But then, i get to manually reload the page anytime a file changes and the module rebuilds.

So going the route of the webpack dev server like you suggested would be great.

[2018-03-10 19:10] #22 closed

[2018-03-14 08:13] elibolonur opened #25 "Custom class injections"
Hi,

Very nice and useful plugin! In the project I am using the plugin, I have the case to call the modal a couple of times to confirm user actions. One of the dialogs is to confirm delete and another one is to save. So to have difference for confirmations I am overriding button colors (red on delete, green on save). The problem in this is that I have to inject different classes for styling (or <s

[2018-03-14 08:18] Godofbrowser commented on #25
It would be implemented asap.. Very useful. Thanks

[2018-03-14 08:25] hjortzen commented on #25
That's exactly my use case as well and I was going to add that feature next, and possibly (if owner agrees) do a pull request.

My idea was to add an option that can add additional cssClasses to different parts of the dialog. For instance the okButton or cancel-button.

Something like (on top of my head)
[code]

With that solution your use case would also be covered, correct?

[2018-03-14 08:30] elibolonur commented on #25
Also a very good idea, highly customisable. But downside with injecting single classes on single elements is to have create single css classes for each / single element. Adding only one custom class on the parent and overriding child elements thru that class is kinda simple to implement I guess. Maybe even for theming whole dialog.

But I think having chance to both options would be really nice.

[2018-03-14 08:31] Godofbrowser commented on #25
@hjortzen that's equally a very good idea. But would mean too much configuration whereas a single css class can handle this and more.

[2018-03-14 08:33] Godofbrowser commented on #25
You're welcome @elibolonur :)

[2018-03-14 08:45] Godofbrowser commented on #25
@hjortzen I think we should go with the single `customClass` option for now. Unless maybe there's a more specific use case.

Would you still be interested in sending a PR for this? cos as aways, PRs are welcome for our little plugin :)

[2018-03-14 09:34] hjortzen commented on #25
My use case is probably a little different.
To be very specific; my need is to add 'blue' to the list of classes in okButton.
Because in our portal we have a lot of styling already done to buttons which is condensed into the 'blue, red, yellow, gray' classes. This is not styling we wish to repeat.

Also, we'd like to be able to change the heading size (h6) to something that complies better within

[2018-03-14 21:35] elibolonur commented on #25
Potential solution added on this pull request #26 I guess its solving both hjortzen and my issue. Makes styling pretty flexible also :)

[2018-03-20 13:08] maxorlovsky commented on #21
It's already there
Vue.use(VueDialog, {
    backdropClose: true
});

[2018-03-20 13:35] hjortzen commented on #21
Yeah. I created the pull request that solved this issue.
Closing issue...

[2018-03-20 13:35] #21 closed

[2018-03-21 09:23] maxorlovsky opened #27 "Documentation doesn't explain how to open alert"
Explanation about alert dialog in readme is missing. I think this.$dialog.alert needs to be added as it's not mentioned anywhere except if you go look at source or docs folders in repo.

[2018-03-22 21:38] Godofbrowser commented on #27
@maxorlovsky That's correct. `this.$dialog.alert('The alert message')` opens the alert dialog and it escaped the documentation. Would you like to send a PR fixing that or have me update it in my spare time?

[2018-03-23 04:19] Godofbrowser commented on #14
This feature will be possible with custom components once completed

![screenshot-localhost 9000-2018-03-23-05-14-11](https://user-images.githubusercontent.com/20337551/37811289-81221670-2e59-11e8-930c-b08a4cac9fd0.png)

[2018-03-23 04:20] #20 closed

[2018-04-16 18:51] v-cagome opened #28 "style css not being applied"
Added styles below to css files, but being ignored.
Any ideas?

.dg-btn--ok {
     border-color: green;
 }

.dg-btn-loader .dg-circle {
    background-color: green;
}

[2018-04-16 19:43] Godofbrowser commented on #28
@v-cagome I think this is due to the fact that the styles are injected just before the close of the head tag.

This means that your custom style will probably be above the injected style and it will be overridden.

A quick fix will be to make the custom style important. ie:
[code]

The best solution will be to make the style injection optional. That way, users can just link the css file in the hea

[2018-04-30 13:30] boomhq opened #29 "method for prompt ?"
Hi,

Thanks for your component it's very useful.
I see on another issue "$dialog.prompt" is still in progress ?
Have you any information for that  ?

Thanks

[2018-05-02 19:36] Godofbrowser commented on #29
@boomhq I'm a little bit occupied at the moment. I'll start working on the prompt method by the end of this month hopefully. I'm glad you find the plugin useful. Thanks for commending.

[2018-05-09 09:23] leekh7 opened #30 "Uncaught (in promise) TypeError: Cannot read property 'confirm' of undefined"
Hello

Thanks for your component

I am try
npm install -> import and vue.use ->this.$dialog.confirm('The alert message')

Next having issues

**Uncaught (in promise) TypeError: Cannot read property 'confirm' of undefined**

help me please

[2018-06-15 12:55] damonbakker commented on #30
I had the same issue in terms of using $dialog, it was undefined for me too.

I fixed i by using Vue.dialog instead.
Vue.dialog.confirm('The alert message').

I think $dialog actually retuns Vue.dialog under the hood but I'm not sure.

[2018-06-18 07:17] danchann commented on #18
If I do a delete from the firebase database, the delete goes through but the dialog box won't close and the buttons don't work, I'll have to do a page refresh to get rid of it.
If I do a local splice (the commented line) it worked fine.
Any ideas?

[code]

[2018-06-18 09:16] Cookizza commented on #14
Any update on this? This package provides a really nice dialog and if we could customise buttons somewhat, that would be awesome

[2018-06-18 09:20] Godofbrowser commented on #18
Hello @danchann You need to close the dialog manually if you have the dialog's loader enabled. You can close the dialog by calling `dialog.close()` in the `then` callback.

According to firebase docs, the remove method returns a promise and can also accept an `onComplete` callback.

This means you can do something like ::
[code]

[2018-06-18 09:37] danchann commented on #18
Hi @Godofbrowser
I've tried a few different variation but it still doesn't work.
According to the firebase docs remove() is not a promise, only set() and update is.
[https://firebase.google.com/docs/database/web/read-and-write](https://firebase.google.com/docs/database/web/read-and-write)

[2018-06-18 09:49] Godofbrowser commented on #18
I saw this on the Api reference https://firebase.google.com/docs/reference/js/firebase.database.Reference

![image](https://user-images.githubusercontent.com/20337551/41529272-7074ff48-72e4-11e8-9071-ab7eb0fa965d.png)

Did you also try
[code]

Also, you may want to check the console to be sure something else isn't causing the script to stop.

[2018-06-18 10:28] danchann commented on #18
Remove failed: dialog.close is not a function

Remove failed: Cannot read property '$dialog' of undefined

[code]

[2018-06-18 10:34] Godofbrowser commented on #18
@danchann Please use arrow functions so the callback will be bounded to the parent context.

[code]

or cache the context into the variabe
[code]

[2018-06-18 12:03] danchann commented on #18
@Godofbrowser Got it, had to go the v-confirm way to get it working.

[code]

[code]

[2018-06-20 17:47] justinbkay commented on #5
I think I have an issue relating to this.  I have a table of items. I'm able to delete an item from the table using the plugin as a directive.
[code]

The issue I have is that if I delete an item, it doesn't bind the id value that I'm passing, so it will start deleting incorrect items which is a pretty bad deal.  It seems like I need to be able to use v:bind on the button and then access that attr

[2018-06-20 18:02] Godofbrowser commented on #5
Hello @justinbkay , please confirm that the key attribute is set uniquely for each item in the loop since you're dealing with a list of items. Ex:

[code]

 Also, can you share the method `delete_domain(dialog, domain.id)` ?

[2018-06-20 18:12] justinbkay commented on #5
I didn't have the :key="domain.id" which when added seems to fix my issue.  Sorry, I'm just learning Vue.

[2018-06-20 18:13] Godofbrowser commented on #5
I'm glad it works 😄

[2018-06-22 06:54] alenck opened #31 "Default button"
Can i change default button?
So now OK is default, how can i change it to cancel as default button.

[2018-06-22 07:01] Godofbrowser commented on #31
Sorry, I didn't get what you meant by default button.

The button focused by default? The button focused by default is the cancel button unless in situations where there's just one button (alert), then the OK button serves all purpose.

The plugin also allows you to reverse the order in which the buttons appear. That way you can have the OK button on the left instead.

[2018-06-22 07:28] alenck commented on #31
![reversetrue](https://user-images.githubusercontent.com/17718850/41763335-45368a28-75fe-11e8-9a81-5b8d8866f2e9.png)
![reversefalse](https://user-images.githubusercontent.com/17718850/41763336-4556c2c0-75fe-11e8-82ff-f2e277cdae4b.png)

On both cases default or focus button is OK.
So clicking enter would confirm the dialog, but i want cancel to be focused.

[2018-06-22 07:49] Godofbrowser commented on #31
Okay, I get that now. There's currently no option to personalize which action is default. Will add that in my spare time.

[2018-07-09 09:49] Dolu89 commented on #13
Here is news about this feature ? I really need this too
Thanks

[2018-07-11 04:36] razor9999 commented on #30
same issue

[2018-07-11 09:46] Godofbrowser commented on #30
Hello @leekh7 and @razor9999 Please be sure to have installed the plugin as earlier as possible before trying to use it. If you're importing your modules, here's a common cause for this issue:

Case 1.
[code]

[code]

[code]

case 2:
[code]

[code]

[code]

[2018-07-11 09:51] Godofbrowser commented on #30
@damonbakker That's correct. The plugin is available to the global Vue object from the moment it was installed and can be accessed from any where ... And that brings about the ability to use vuejs dialog outside vue applications. This way, it can also be used in jquery apps, reactjs apps, and even vanilla js.

[2018-07-11 13:08] arkid opened #32 "html message content not encoding"
I'm trying to send html code to the dialog but it doesn't seem to work.

[code]

The result I get in the dialog is:

`a <b>test</b>`

[2018-07-11 13:10] #32 closed

[2018-07-11 13:10] arkid commented on #32
Ignore me, my mistake the options weren't being parsed!

[2018-07-11 13:14] Godofbrowser commented on #32
Alright @arkid

[2018-07-11 13:36] arkid opened #33 "How to use dynamic html content within the dialog message?"
I'd love to be able to use this plugin to handle a couple of drop down boxes that are being populated by ajax and where the second drop down box refreshes each time a change is made to the first one.

To start testing this idea I made the following sample inspired by code from the vue documentation [here](https://vuejs.org/v2/guide/forms.html#Select) which generates a select list and then should d

[2018-07-11 14:03] Godofbrowser commented on #13
Thus Sunday... It'll be released

[2018-07-16 15:02] gmatkowski commented on #14
Any news about that ?

[2018-07-18 20:40] tgice opened #34 "Error on front page in Global Configuration example?"
I think the line that reads

``
Vue.use(VuejsDialog, {
``
should instead be:
``
Vue.use(VuejsDialog.default, {
``

[2018-07-18 20:51] tgice commented on #31
I have a concern about this issue too.  I always like to keep as much keyboard functionality as I can for my apps, since I prefer using the keyboard in data-entry roles, etc.

Unless I'm doing something wrong in my tests, no button is focused by default, and neither the enter nor space bar keys will activate either the OK or cancel button.

It seems like your buttons don't take focus like default

[2018-07-18 23:58] #25 closed

[2018-07-19 00:02] #14 closed

[2018-07-19 07:37] Godofbrowser commented on #33
Please use custom component for custom functionalities

[2018-07-19 07:37] #33 closed

[2018-07-19 07:39] Godofbrowser commented on #34
Thanks for spotting. Correction has been made.

[2018-07-19 07:39] #34 closed

[2018-07-19 07:41] Godofbrowser commented on #28
Now you can use custom components and style has been extracted into a separate file to be included manually

[2018-07-19 07:41] #28 closed

[2018-07-19 07:43] Godofbrowser commented on #13
Please use custom component for this.

[2018-07-19 07:43] #13 closed

[2018-07-19 07:46] Godofbrowser commented on #5
Dialog now returns a node which is the element the directive was bound to. Please see the documentation for more details

[2018-07-19 07:46] #5 closed

[2018-07-19 07:47] #30 closed

[2018-07-19 07:54] Godofbrowser commented on #18
Closing due to inactivity

[2018-07-19 07:54] #18 closed

[2018-07-19 09:17] gmatkowski opened #35 "Custom Component - error"
Error in created hook: "TypeError: this.$dialog.registerComponent is not a function"

uuups :-)

![image](https://user-images.githubusercontent.com/5032094/42933553-5729b00a-8b45-11e8-8e1d-563e58a04a44.png)

Can you fix it ? :-)

[2018-07-19 09:20] #27 closed

[2018-07-19 09:22] Godofbrowser commented on #35
Hello @gmatkowski , please hold let me test

[2018-07-19 09:24] gmatkowski commented on #35
sure, I'll wait :-)

[2018-07-19 09:42] Godofbrowser commented on #35
@gmatkowski Please be sure your package json file has vuejs-dialog not earlier than v1.0.0

[2018-07-19 09:45] gmatkowski commented on #35
I'm sure:
![image](https://user-images.githubusercontent.com/5032094/42935153-34052b96-8b49-11e8-8362-dd35dc62e64c.png)

[2018-07-19 09:53] gmatkowski commented on #35
Ok, my bad ... somehow after re npm run watch it works good ... perhaps some cache issue.

[2018-07-19 09:55] Godofbrowser commented on #35
Great! i was about sending a fiddle

[2018-07-19 16:41] Godofbrowser commented on #35
Closing as it is confirmed to be working [demo](http://jsfiddle.net/godofbrowser/pktL3mjb/)

[2018-07-19 16:41] #35 closed

[2018-07-19 16:58] Godofbrowser commented on #31
Hello @tgice , i get your point. The buttons are missing visual indicators to tell which one is currently active. Something like dotted borders right? I think it was removed initially as defaces the plugin.

Now that this is a concern, i think i'll have to work something visually appealing.

Currently, the escape key closes the dialog and enter key proceeds.

Two things missing includes the abilit

[2018-07-21 06:06] onc4hy opened #36 "Could not find a declaration file for module 'vuejs-dialog'."
build error tip:

- Could not find a declaration file for module 'vuejs-dialog'.
- Try `npm install @types/vuejs-dialog` if it exists or add a new declaration (.d.ts) file containing `declare module 'vuejs-dialog';`

[2018-07-29 15:19] nicroto opened #38 "The promise reject doesn't really make sense..."
Especially when you use the dialog from an async function - you will have to make the call inside of a try-catch block or you get a false error within the console when you cancel the confirm operation (because of the unhandled reject call).

[2018-07-31 07:45] Godofbrowser commented on #38
That's correct... Do you have any idea how this can be improved? I'm thinking of resolving the promise with a property that takes the value `false` on rejection instead of rejecting the promise... Do let me know if you have a better idea.

 Thanks

[2018-08-14 01:32] edwinsmasher opened #39 "Directives"
The v-confirm directives methods run before  being triggered

[2018-08-14 13:36] Godofbrowser commented on #39
Hello @edwinsmasher , kindly give more information regarding this issue or state how it can be reproduced.

[2018-08-15 08:47] symonsoft opened #40 "Is there a simple way to set dialog width?"
Something like:

    Vue.use(VuejsDialog, {
      dialogWidth: "300px"
    })

[2018-08-15 09:05] Godofbrowser commented on #40
@symonsoft I wouldn't recommend setting a fixed width, but you can do that with css.

I would recommend you set max-width instead... you can add this to the head tag.
[code]

If you want to set custom width for a specific instance, you can use the custom class option like so:

[code]

Then your css becomes:
[code]

[2018-08-15 12:10] symonsoft commented on #40
Will it work?

    Vue.use(VuejsDialog, {
      customClass: 'my-small-width-class'
    })

[2018-08-16 13:50] Godofbrowser commented on #40
Yeah, that should work too 👍

[2018-08-30 15:49] symonsoft opened #41 "Feature request: text prompt"
I think it will be useful to have ability to prompt for text information in a single (single/multiple line) text field.
Is it likely to implement such a feature?

[2018-08-30 15:54] symonsoft opened #42 "Feature request: custom class as Vue.extend variable"
Something like:

    let customClass = Vue.extend({
      template: `
        <select v-model="selected">
          <option disabled value="">Please select one</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
      `,
      data: function () {
        return {
          selected: null

[2018-08-30 16:46] symonsoft commented on #41
Oh I see after some code investigation that it's __almost__ possible with:

    let options = {
      message: 'Prompt title',
      verification: '',
      verificationHelp: 'Prompt message'
    }

    this.$dialog.open('prompt', options)
      .then((dialog) => {
        console.log('Input text: ' + dialog.data)  // always null
      })

But `dialog.data` is always `null`....
Then requesting `di

[2018-09-21 14:56] kapdom commented on #42
Please add custom class as a variable.

[2018-10-06 15:32] nicroto opened #43 "Can't access Vuex from the custom view component."
I am using vuejs-dialog in a NUXT project.

My modals are with custom rendering (component).

Here is my setup:

[code]

[code]

And my custom component:

[code]

## The problem

`$store` is not available to the component and I get the following error:

[code]

Is `$store` getting passed to the created dialog?

[2018-10-07 06:32] nicroto opened #44 "How do I pass data to my dialog?"
I am creating custom components for my dialogs.

How do I pass data (parameters/context/etc.) to my dialog?

[2018-10-12 10:10] jlsjonas commented on #41
that's actually what a "prompt" is in a javascript context... which it claims to have but actually doesn't support

https://developer.mozilla.org/en-US/docs/Web/API/Window/prompt

[2018-10-12 10:13] Godofbrowser commented on #41
Hi, I've been tight on schedule. I'll try to implement this feature this weekend

[2018-10-17 22:12] fmay commented on #43
Same problem for me when dispatching an action in the Vuex store.

[2018-10-17 22:17] Godofbrowser commented on #43
The context of the dialog is different from that of your app. You'll need to pass the store to the plugin. I'll look into this in my spare time, possibly a new feature

[2018-10-25 13:50] symonsoft commented on #41
@Godofbrowser Please, don't forget and abandon your thankful users! We still hope for the release.

[2018-11-01 06:20] symonsoft opened #45 "Can't resolve 'vuejs-dialog/vuejs-dialog-mixin.min.js'"
I got the message:
`Module not found: Error: Can't resolve 'vuejs-dialog/vuejs-dialog-mixin.min.js' in ...`

Trying to import mixins like:
`import VuejsDialogMixin from 'vuejs-dialog/vuejs-dialog-mixin.min.js'`

Although I can import VuejsDialog:
`import VuejsDialog from 'vuejs-dialog'`

[2018-11-01 06:39] symonsoft commented on #45
Just realized that npm default location is 'dist'

[2018-11-01 06:39] #45 closed

[2018-11-01 07:41] nicroto commented on #44
Are you suggesting that I add a property in the passed options (with name that's not being used by system property of the commponent) and then I will be able to read that within my custom component? Are they available through the DialogMixin?

[2018-11-02 20:28] spaquet opened #46 "Default style not loading"
main.js
[code]

However the style is not applied to dialogs when they are showing up. Any idea why since everything else  is working as expected?

[2018-11-06 12:55] GergelyLakatos commented on #46
same here..

[2018-11-07 07:14] symonsoft opened #47 "On browser's screen taller then 700px custom dialogs look bad"
Custom dialog goes to top hiding its upper side behind the screen. I guess it happens because:

    @media all and (max-height: 700px) {
    .dg-content-cont--floating {
        position: relative;
        top: 10%;
        -webkit-transform: none;
                transform: none;
        margin-top: 0;
    }

and on the screens taller than 700px it switches to absolute position with transform:

[2018-11-20 10:36] Godofbrowser commented on #41
So sorry guys, i'm currently adding this feature. I'm hoping an hour would be enough

[2018-11-20 10:37] jlsjonas commented on #41
That also works :)

No problem, we all have lives besides open source code too ;)

[2018-11-20 10:44] Godofbrowser commented on #41
Meaanwhile, this can be easily done with custom view. i have a sample implementation where i'm using a custom view to show a cropper for photo uploads.

https://snag.gy/OVAHkd.jpg

https://snag.gy/Q3RZjB.jpg

https://snag.gy/O6YMXz.jpg

https://snag.gy/CxVNg9.jpg

[2018-11-27 21:29] gautamc1106 commented on #46
same here

[2018-11-27 21:34] Godofbrowser commented on #46
Can you try loading the script via html tag pending when this is resolved?

[2018-11-27 22:39] gautamc1106 commented on #46
Does not work!

[2018-11-27 22:43] Godofbrowser commented on #46
Okay, can you help me? want to try reproduce the issue ... how are you using the lib?

[2018-11-27 22:47] gautamc1106 commented on #46
All I was doing initially is
`import 'vuejs-dialog/vuejs-dialog.min.css'`

and the following error wuld pop up:
`Module not found: Error: Can't resolve 'vuejs-dialog/vuejs-dialog.min.css' `

[2018-11-27 23:30] gautamc1106 commented on #46
I see the file in the module, but for some reason it is not detected

[2018-11-27 23:33] gautamc1106 commented on #46
I finally got it to work by loading the style sheet but the import fails

[2018-11-27 23:33] Godofbrowser commented on #46
Actually, this is what's supposed to be the right path `vuejs-dialog/dist/vuejs-dialog.min.css`

[2018-11-27 23:49] Godofbrowser commented on #46
What do you mean by "the import fails"? is your bundler configured to load css files?

[2018-11-28 00:18] gautamc1106 commented on #46
Yes. I did realised and that's how I fixed it. But when I use the same statement as
`import "vuejs-dialog/dist/vuejs-dialog.min.css"` it fails to import it

[2018-11-28 01:01] Godofbrowser commented on #47
Hi @symonsoft , were you able to find a solution?

[2018-11-28 01:03] Godofbrowser commented on #41
#48 Will resolve this

[2018-11-28 01:07] Godofbrowser commented on #39
Closing. Please check to be sure you're doing `v-confirm="myMethod"` and not `v-confirm="myMethod()"`

[2018-11-28 01:07] #39 closed

[2018-11-28 01:11] Godofbrowser commented on #29
It's here #48

[2018-11-28 20:43] superbiche commented on #38
I think it's the correct way as it correspond to what the user did: say "false" to the question prompted.

[2018-12-24 15:06] serkandemirel0420 commented on #44
How do we use passed property value in 'message' property? Like 'Do you want o delete x  named item?'

[2018-12-24 15:12] serkandemirel0420 commented on #44
[code]

This gives a syntax error.

[2018-12-24 22:35] Godofbrowser commented on #44
@serkandemirel0420 You can try compose your message completely before passing it to the dialog like this:
[code]

We're only replacing placeholders in strings that are built in. For message, you have to compose the message yourself. Your code should look similar to this:

[2018-12-24 22:45] Godofbrowser commented on #44
Thank you @symonsoft That solution should work. @nicroto did it work for you?

[2018-12-24 22:49] Godofbrowser commented on #42
Hello @symonsoft can you please help me understand better how this would work and it's use case? Looks interesting

[2019-01-20 17:42] kelj0 opened #49 "Broken download link"
There is a broken 'downloads' link in README.md
![image](https://user-images.githubusercontent.com/35850075/51442974-0e06ee80-1ce3-11e9-9baf-789f2a32fbbd.png)

[2019-02-16 17:57] basyenk commented on #43
Hi, this is my custom view on nuxt

[code]

In my custom view,

1. how to close the dialog ?
2. how to get input value ?

[2019-03-12 11:31] #29 closed

[2019-03-12 11:33] #41 closed

[2019-04-11 06:49] darrensapalo opened #51 "[contribution] Typescript definition"
Below is some unpolished work for the typescript definition of this library.

I am not sure how to contribute to the typescript `@types` npm registry, or how to write it specifically for publishing. Currently, the following code works for my use:

filename: `vue-file-import.d.ts`

[code]

[2019-04-11 14:34] Godofbrowser commented on #51
Thank you @darrensapalo. I will look at this soon. Really appreciate the time and effort.

[2019-04-13 06:24] darrensapalo commented on #51
Thank you for your work. 🙂

[2019-04-16 22:17] kcdrez-dwd opened #52 "Enter key on a prompt returns null value"
When pressing the enter key on a prompt dialog, the dialog.data is null.

`this.$dialog.prompt({
    title: "My Title",
    body: "Some instructions on what to enter in the prompt."
})
.then(dialog => {
    console.log(dialog);
    //when clicking the continue button, the dialog.data is what is expected. however, if the enter key is pressed, the dialog is closed, but dialog.data is null
})`

[2019-04-28 11:21] xiashulin opened #53 "Can I close the dialog whenever I want"
the dialog will auto closed no matter i clicked which button，Can I control it? How?  I only want to replace the dialog html-content sometimes.

[2019-05-02 18:55] Godofbrowser commented on #53
Hello @xiashulin The default dialogs perform specific purposes like confirmation, prompt or alert. If you want to update dialog's content then there may be a need to use the custom view feature.

[2019-05-07 09:44] leon3103 opened #54 "Error in Readme"
When using the Prompt example from the documentation you encounter following:

You can set the prompt helptext to whatever you want it will always display the default text.

What fixed it for me is setting the first parametet null like this:

[code]

[2019-05-22 10:43] shsmad opened #55 "Feature request: setting default value for prompt"
Hi, I didn't find any way to set default value of prompt text input field, because data-field `input` is not reachable from outside (which is set in plugin/js/mixins/dialog-mixin.js`):

`plugin/components/views/default-view.vue`:

[code]

May by you should make any prop, which will hold value, passed to `$dialog.prompt` as an option to display in `<input>`?

[2019-06-25 03:30] teja42 opened #56 "promptHelp does nothing"
I'm using default everything and when doing some thing like this promptHelp is not replaced by the default prompt text :
[code]

[2019-06-26 22:33] tkrause commented on #52
Can confirm this is still an issue

[2019-06-29 08:45] fr-ser commented on #52
I can take a stab at this "bug". Or is this already being fixed somewhere else? @Godofbrowser

[2019-06-29 08:50] Godofbrowser commented on #52
Please help... I've not had time to look at the issue itself to confirm if
its a bug or not so I'm not currently working on it. However, I'd be happy
to merge in a PR if it fixes whatever issue there is with the prompt.

On Sat, Jun 29, 2019, 9:45 AM Sergej Herbert <notifications@github.com
wrote:

[2019-06-29 11:09] fr-ser commented on #52
@godofbrowsers should I do it in the master branch or the branch "Feature/prompt"?

[2019-06-29 13:05] Godofbrowser commented on #52
Kindly checkout a new branch with descriptive name. Something like
"fix/promt-enter-bug". Thanks alot

On Sat, Jun 29, 2019, 12:09 PM Sergej Herbert <notifications@github.com
wrote:

[2019-07-16 12:48] TP-Adamantus commented on #56
Here is a workaround option

`this.$dialog.globalOptions.promptHelp = 'Your text'`

[2019-07-30 13:19] 18945168 commented on #56
it work if you put it in second arguments

[2019-08-06 05:29] darrensapalo commented on #44
For a more graphic explanation, you can pass data to your custom vuejs dialog component via the `options` used to create the dialog as seen below (I used `options.metadata` property as my own custom property):

[code]

The `options` which is used to generate the `confirm` or `alert` dialog is actually used as a Vue prop. You can see that from the component, you can access this custom property from

[2019-08-06 14:25] Blanen commented on #43
@Godofbrowser
Any progress or maybe an idea for a workaround?

[2019-08-28 19:56] alexeybar commented on #56
Could you write it in docs?

[2019-09-06 15:57] kcdrez-dwd commented on #56
+1 please update the documentation. This was frustrating to figure out since the documentation has the promptHelp listed in the first argument.

[2019-09-14 12:50] fjbardelli opened #60 "Nuxt"
Is this Lib, compatible with nuxt?

[2019-09-16 17:30] darthf1 commented on #60
Generally, all Vue libraries are compatible with Nuxt, you just need to render them as a client-only plugin.

[code]

[2019-09-17 14:11] fjbardelli commented on #60
Thanks

[2019-09-17 14:11] #60 closed

[2019-09-19 03:01] hungnv-sr opened #61 "Internet Explorer 11 incompatible"
I haven't try with other version of IE, and I tried to upgrade windows and IE but no luck so far.
Error:
`SCRIPT5007: Unable to get property 'apply' of undefined or null reference`
 line 668 in `vuejs-dialog.min.js`
I tried babel polyfill but still get the error.

[2019-10-09 09:07] alchiebinan21 opened #62 "Backdrop Color"
is there a way to change the backdrop overlay color?
i tried to override the css for dg-backdrop but the fadein color is still black.

[2019-10-14 14:04] peel70 commented on #43
Hi guys,
in main.js of the application:

`
import VuejsDialog from "vuejs-dialog";

import store from './store'
Vue.use(VuejsDialog, { store })
`
then you have the store in the options of the plugin

in the Plugin.prototype.mountIfNotMounted function you have to pass this to the Dialogconstructor

let Vm = new DialogConstructor( { store: this.opions.store } )

[2019-10-25 10:17] hhummell81 opened #63 "await response"
Hi!

Is there any way to make this component synchronous? Now, when we call to this.$dialog, it works asynchronously. Is there any way to stop the execution until the user clicks a button?

Thanks!

[2019-10-25 15:41] hhummell81 commented on #63
regular async await, closing issue, sorry!

[2019-10-25 15:41] #63 closed

[2019-11-12 20:54] nullablebool commented on #56
promptHelp passed as options in the second argument doesn't even work for me in 1.4.0 or 1.4.1.

[2019-11-26 10:55] kopeccc opened #65 "Prevent escape"
Hello,
is there any possibility to prevent close dialog when ESC is pressed?
Thank you for any answer :)

[2019-11-26 19:53] Godofbrowser commented on #65
Hello @kopeccc

That configuration is not available at this time. Can you help me understand why this functionality may be needed?

[2019-11-29 12:36] kopeccc commented on #65
Hello,
I am using your vuejs-dialog as a custom component to collect some data from user. There are some other components on my dialog, that uses ESC to cancel an input form user too. But this cancels whole dialog :( It would be great to disable ESC key press event in vuejs-dialog config ;)
Regards..

[2019-12-06 08:23] Godofbrowser commented on #65
This is doable @kopeccc . Will try adding it to the configurations over the weekend, however pull requests are welcome if someone wants to pick this up too

[2019-12-10 07:31] kopeccc commented on #65
Thank you @Godofbrowser , I'll make a new pull request for this..

[2019-12-12 00:00] martinfrith opened #67 "Unable to close programmatically"
Is there any api method to close any active instance? Thanks.

[2019-12-13 15:07] Godofbrowser commented on #67
Hello @martinfrith There is currently no api to close a particular window at the moment. But there is an undocumented [method](https://github.com/Godofbrowser/vuejs-dialog/blob/b7e8a227901f08568bf63ae134678d3135d983c4/test/unit/utilities/hooks.js#L15) that can be used to destroy the dialog's root component completely. This looks like an interesting feature to add though. What's your use case if i

[2019-12-13 15:09] martinfrith commented on #67
Thank you @Godofbrowser for your quick reply. I'll look into that. vuejs-dialog is a fabulous tool, thanks for creating it. Best wishes.

[2019-12-14 07:23] Godofbrowser commented on #67
Thank you for using vuejs-dialog @martinfrith, glad you found it useful.

[2020-02-18 10:19] worldtok opened #69 "unable to pass html to confirm message"
How can i pass html to the comfirm message such that it renders as html and not just ordinary text

[2020-02-20 02:16] dinhducit commented on #61
I faced the same issue

[2020-02-26 06:19] AmphibiousMelon commented on #61
I faced this issue and solved it by including a polyfill for Object.assign before loading vuejs-dialog.

`/**
 * ES6 Object.assign polyfill (for IE11).
 */
if (typeof Object.assign !== 'function') {
  // Must be writable: true, enumerable: false, configurable: true
  Object.defineProperty(Object, "assign", {
    value: function assign(target, varArgs) { // .length of function is 2
      'use stric

[2020-04-06 19:30] Arkapin commented on #51
It has been about a year since last update, has this been fixed yet? I can use it in my app by doing (this as any).$dialog.confirm('My message') but its a terrible way of doing things.
It there any reason why typescript is not supported?

[2020-04-14 21:52] drezr opened #70 "Proceed button not enabled on android"
Hello,

First of all thanks for your work.

As you can see in this [video](https://www.youtube.com/watch?v=vIVOSzw9TOw), the proceed button is not enabled when the correct word is typed for hard verification unless the keyboard is closed.

This issue occured on android Chrome only but it works perfectly fine on desktop Chrome.

Also, I had to add the !important tag to override the CSS styling of t

[2020-05-28 01:50] rachitpant opened #72 "Custom class is not working."
I am trying to use a customClass for the buttons like this:
[code]

However I do not see the classes mentioned above applied to the cancel button. I am using bootstrap and these classes are part of it. I can manually change the class of cancel button through inspector and see the desired result , but the above code is not resulting in the above classes applied.

[2020-09-07 07:44] Paraintom opened #74 "Vue 3 migration : TypeError: Object.defineProperties called"
Hi fellow developer,

I have the following issue when trying to upgrade to vuejs 3 :

See http://jsfiddle.net/jdqn0rvf/3/

vuejs-dialog.min.js:1 Uncaught TypeError: Object.defineProperties called on non-object
    at Function.defineProperties (<anonymous>)
    at Function.l.install (vuejs-dialog.min.js:1)
    at Object.use (vue@next:4316)
    at ?editor_console=true:193

[2020-09-12 12:18] darthf1 commented on #51
An updated version, including `Nuxt` types:

filename: `vuejs-dialog.d.ts`:
[code]
If you havent yet; create a `vue-shim.d.ts` as well:
[code]

[2020-09-12 14:34] Godofbrowser opened #75 "Add option to disable "ESC key close" feature"
As described on #66

[2020-09-22 17:15] ghard1961 commented on #51
this.$dialog
        .confirm("Are you sure you want to delete the item?", {
          loader: true
        })
        .then(d => {
	  // do some delete action
          d.close();
	});

this gives me an error:

This expression is not callable.
  Type '{}' has no call signatures.

[2020-09-22 17:16] ghard1961 commented on #51
I have added your vuejs-dialog.d.ts from above to the project, btw.

[2020-09-23 17:21] darrensapalo commented on #51
@ghard1961 Double check whether the complaint of your ts compiler is:

1. Not being able to detect `this.$dialog.confirm` as a missing func definition, or
2. The error is on your line 111, which is `d.close()`, not having call signatures.

If it is the latter, then the type definitions provided for `this.$dialog.confirm()` method works as expected. It is your function call of `d.close()` that is e

[2020-09-23 17:59] ghard1961 commented on #51
[cid:image004.jpg@01D691A9.5DBDF900]

This is what I see.  The return type of d has a close argument on it.  I include a console.log of the “d” variable here:

[cid:image007.jpg@01D691A9.5DBDF900]

Perhaps I am missing something, but d having a return type of “Record<string,unknown>” is not accurate?

Thank you for your attention.

Glenn
From: Darren <notifications@github.com>
Sent: Wednesday, Sep

[2020-09-23 19:05] darrensapalo commented on #51
Unfortunately, the images you attached on your mail application doesn't show properly [on GitHub](https://github.com/Godofbrowser/vuejs-dialog/issues/51) where I am reviewing your feedback, so I can't see the images you're sharing.

Could you resend that? Let's take a peek.

[2020-09-23 19:26] ghard1961 commented on #51
Here is the email sent again:

[cid:image001.jpg@01D691B5.759B04D0]

This is what I see.  The return type of d has a close argument on it.  I include a console.log of the “d” variable here:

[cid:image002.jpg@01D691B5.759B04D0]

Perhaps I am missing something, but d having a return type of “Record<string,unknown>” is not accurate?

Thank you for your attention.

Glenn
From: Darren <notifications@g

[2020-09-23 22:13] darrensapalo commented on #51
After corresponding with @ghard1961 briefly about his issue above, it appears that `Promise<Record<string, unknown>>` is not the appropriate return type there. His screenshot revealed to me that its an object that has close, loading, and data variables in it. Reading through [the readme](https://github.com/Godofbrowser/vuejs-dialog#return-value-on-success), the return type of the promise is a dial

[2020-09-24 12:06] ghard1961 commented on #51
This vuejs-dialog.d.ts works for me.  Thanks for the help!

`declare module 'vuejs-dialog' {
  import { PluginFunction } from 'vue'

  export const install: PluginFunction<Record<string, unknown>>

  interface DialogResult {
		close?: ()=>void,
		loading?: ()=>void,
		node?: DOMElement,
		data?: any
	}

  interface DialogOptions {
    html?: boolean
    loader?: boolean
    reverse?: boolean
    o

[2020-09-24 12:07] ghard1961 commented on #51
That did not get stored like i figured it would.  Try again here:

declare module 'vuejs-dialog' {
  import { PluginFunction } from 'vue'

  export const install: PluginFunction<Record<string, unknown>>

  interface DialogResult {
		close?: ()=>void,
		loading?: ()=>void,
		node?: DOMElement,
		data?: any
	}

  interface DialogOptions {
    html?: boolean
    loader?: boolean
    reverse?: boolean

[2020-10-06 16:57] smileatom opened #76 "Cant reliably style the dialog"
Styles as documented will not load for me reliably.  Either from my main style sheet or
from <style> tag inside vuejs template file.

I think they loaded one time, but either using webpack hot reload or webpack production build I always get the blue theme.

dg-btn-loader .dg-circle {
  background-color: #f26a2a;
}

.dg-btn--cancel {
  color: #fefefe;
  background-color: #f26a2a;
}

.dg-btn--ok {

[2020-10-12 14:29] traed opened #77 "Prompt gets stuck after first submit"
When using the loader option I get a loading method on the dialog object that's being returned after having submitted the prompt. If I call dialog.loading(false) without closing the dialog when a user submits the prompt, and then try to submit again, the prompt starts loading but never submits.

[2020-11-03 16:18] rmuraliananth commented on #72
@rachitpant , I am also having same issue & it is not working,

- Saw the code base, Custom Class variables are defined in constant but never used in the dialog window.
- Reference to Code Merge [https://github.com/Godofbrowser/vuejs-dialog/pull/26/files](url)

@hjortzen  - any idea?

[2020-12-13 03:26] ifarooq opened #78 "Dialog not working with Vue 3"
Dialog not working with Vue 3

[2021-01-18 16:36] jonc1980 opened #79 "Check For Open Dialogs"
Is there an easy way to see if a dialog is open?  I have keyboard handling code I'd like to disable if any dialog is open.  I can do this by setting a boolean before showing and un-setting after but this is can get complicated if errors occur.

[2021-01-29 22:32] TheJaredWilcurt commented on #78
@Godofbrowser any plans for a Vue 3 compatible version of vuejs-dialog?

[2021-01-30 09:12] Godofbrowser commented on #78
@TheJaredWilcurt @ifarooq Thanks for continued interest in VuejsDialog. Although I had to dedicate my time to other things at some point, I have the intention of not only making this work with Vue3 but also a rewrite of some parts of the plugin to address issues from the previous versions. As a first step, I'd bootstrap the plugin this weekend for Vue3 and have an estimate of how much effort it wi

[2021-02-03 13:30] anialamo opened #80 "How to avoid dialog closes on confirm?"
Hi! I use vuejs-dialog and I use on <button @click=showMyModal.
I add a input type email and I need to validate it before continuing. How to avoid dialog.confirm always closes?

showMyModal has this code:
[code]

And I defined my vuejs-dialog with this code:
[code]

[2021-02-03 13:47] Godofbrowser commented on #80
@anialamo Thanks for trying the plugin... Unfortunately, the feature you're requesting doesn't come out of the box.

Reason is because click on vuejs-dialog default buttons resolves the waiting promise (this process can only be done once for every promise). Currently exploring other options for coming versions of vuejs-dialog. Think of vuejs-dialog (current version 1.X and before) as a single resp

[2021-02-03 14:57] anialamo commented on #80
A lot of thanks! This works fine for me!!!

[2021-02-03 14:57] #80 closed

[2021-02-19 04:20] ifarooq commented on #78
Ok thanks much.

[2021-10-14 10:26] paddotk commented on #38
What is the reason the promise rejects with `false`? It seems to me that you'd reject a promise with either nothing or an error object. If it's not necessary, I'd suggest to remove the `false` from the rejection so we don't get a warning about an unhandled promise rejection.

[2021-11-10 06:23] computurus opened #83 "Cannot render custom component"
Following the guide, I am trying to integrate a custom component into my dialog. The Dialog shows but no content or the custom component is displayed. Also, the configuration does not seem to work.

Am I missing something here? I followed the documentaion.
[code]

Method to trigger the dialog

[code]

HDSLogin.vue

[code]

Blank dialog is displayed:

[2021-11-15 12:08] #83 closed

[2022-01-20 21:43] Korko commented on #78
Sorry to bother but, any news?